---
# vars file for mq-testing
MQM_BIN_PATH: "/opt/mqm/bin"
enable_rdqm: true
create_queues: false
queuemgrs: 
  - name: "TESTQMGR1"
    queue: "DEFAULT.LOCAL.QUEUE"
    channel: "TESTQMGR1.SRVCONN"
    listener: "TESTQMGR1.LISTENER"
    is_dr: true
    is_ha: true
    size: "1024M"
    listen_port: "1501"
    extra_queues:
      - "TESTQMGREXTRA1.LOCAL.QUEUE"
  - name: "TESTQMGR2"
    queue: "DEFAULT.LOCAL.QUEUE"
    channel: "TESTQMGR2.SRVCONN"
    listener: "TESTQMGR2.LISTENER"
    is_dr: true
    is_ha: true
    size: "1024M"
    listen_port: "1502"
    extra_queues:
      - "TESTQMGREXTRA2.LOCAL.QUEUE"
  - name: "TESTQMGR3"
    queue: "DEFAULT.LOCAL.QUEUE"
    channel: "TESTQMGR3.SRVCONN"
    listener: "TESTQMGR3.LISTENER"
    is_dr: false
    is_ha: true
    size: "1024M"
    listen_port: "1503"
    extra_queues:
      - "TESTQMGREXTRA3.LOCAL.QUEUE"

mqm_uid: 1001
mqm_gid: 1001

version: 9.3.2
os: rhel 
rel: el8

mq_storage_dev: vdb
rdqm_storage_dev: vdc

# Some env vars here

MQ_INSTALLATION_PATH: /opt/mqm
